<main>
    <article>
        <div class="article-headder d-flex align-items-center justify-content-between">
            <div class="article-headder-left">
                <img src="/images/Profile.png" alt="">
                <p><%= @name %></p>
            </div>
            <i class="fas fa-ellipsis-h"></i>
        </div>
        <div  class="article-main">
        </div>
    </article>
    <div class="side-right">
        <h1>hello</h1>
    </div>
</main>
