<div class="section">
<% @liking.each do |like|%>
    <% if (like['liked_by']).nil?%>
        <h1>まだいいねがありません</h1>
    <% else%>
    <div class="likes_follows">
        <img src="/images/profile_images/<%= like['profile_image']%>" alt="">
        <p><%=like['name']%>さんがあなたの投稿に「いいね！」しました。</p>
    </div>
    <% end %>
<% end %>
</div>
