<form action="/index" method="POST">
  <label for="name">名前：</label>
  <input type="text" name="name" id="name" />
  <label for="email">メールアドレス：</label>
  <input type="email" name="email" id="email" />
  <input type="submit" value="送信する">
  
</form> 