<!-- Modal One -->
<div class="modal">
  <input class="modal-open" id="upload-profile_image" type="checkbox" hidden>
  <div class="modal-wrap" aria-hidden="true" role="dialog">
    <label class="modal-overlay" for="upload-profile_image"></label>
    <div class="modal-dialog">
        <form action="/profile" method="POST" enctype="multipart/form-data">
            <div class="modal-header">
                <h2>profile画像を設定しましょう</h2>
                <label class="btn-close" for="upload-profile_image" aria-hidden="true">×</label>
            </div>
            <div class="modal-body">
            <%######## プロフィール画像変更 %>
                    <input type="file" name="profile_img" id="profile_img">
            </div>
            <div class="modal-footer">
                <label class="btn btn-primary" for="upload-profile_image">
                    <input type="submit" value="送信する">
                </label>
            </div>
        </form> 
    </div>
  </div>
</div>

<% @users.each do |user|%>
<div class="profile">
    <div class="profile_header">
        <label class="btn" for="upload-profile_image">
            <img src="/images/profile_images/<%= user['profile_image']%>">
        </label>
        <h1><%= user['name']%></h1>
    </div>
    <div class="profile_posts">
    <% @profile_posts.each do |post| %>
    <div class="post">
        <img src="/images/post_images/<%= post['image']%>" alt="">
    </div>
    <% end %>
    </div>
</div class="profile">
<% end %>