$font-gray:#999999;
$font-lightgray:#c7c7c7;
$border:#dbdbdb;
$bg-gray:#fafafa;

@mixin searchbox {
    border: solid 1px $border;
    border-radius: 3px;
    width: 215px;
    height: 28px;
    padding: 7px;
    color: $font-lightgray;
}
body {
    p {
        margin: unset;
    }
}

header {
    width: 970px;
    margin: 0 auto;
    padding: 16px 0;
    .header-left {
        i {
            font-size: 24px;
            border-right: solid 1px black;
            padding-right: 16px;
        }
        p {
            display: inline;
            font-size: 29px;
            padding-left: 16px;
        }
    }
    #search-box {  // 検索ボックス クリック前
        @include searchbox;
        color: $font-gray;
        background-color: $bg-gray;
        i {
            font-size: 10px;
            margin-right: 6px;
        }
        p {
            font-size: 15px;
        }
    }
    .search-box-active {  // 検索ボックス クリック後
        @include searchbox;
        .fa-search {
            font-size: 10px;
            padding-right: 8px;
        }
        input {
            border: none;
            outline: none;
            width: 9em;
            &::placeholder {
                font-size: 15px;
            }
        }
        .fa-times-circle {
            font-size: 15px;
        }
    }
    // クリックイベント
    .display-none {
        display: none!important;
    }
    .visible {
        visibility: visible !important;
    }

    .header-right {
        i {
            font-size: 24px;
            padding-left: 24px;
        }
    }
}
hr {
    margin: unset!important;
}

main {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
    background: $bg-gray;
    padding: 60px 252px 0 252px;
    article {
        width: 614px;
        float: left;
        background-color: white;
        border: $border solid 1px;
        .article-headder {
            .article-headder-left {
                img {
                    width: 50px;
                    height: 50px;
                }
                p {
                    display: inline-block;
                }
            }
        }
        .article-main {
            img {
                width: initial;
            }
        }
    }
    .side-right {
        float: right;
    }
}
