@charset "UTF-8";
body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  margin: 0 auto;
}

body p {
  margin: unset;
}

body a {
  text-decoration: none;
  color: black;
}

body a:hover {
  text-decoration: underline;
  color: gray;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #dbdbdb;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 970px;
  padding: 21px 0;
  margin: 0 auto;
}

header .container .header-left {
  display: flex;
  align-items: center;
}

header .container .header-left i {
  font-size: 26px;
  border-right: solid 1px black;
  padding-right: 16px;
}

header .container .header-left a {
  text-decoration: none;
  color: black;
}

header .container .header-left p {
  display: inline;
  font-size: 29px;
  padding-left: 16px;
  font-family: billabong;
}

header .container #search-box {
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  width: 199px;
  height: 12px;
  padding: 7px;
  color: #c7c7c7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
  background-color: #fafafa;
}

header .container #search-box i {
  font-size: 10px;
  margin-right: 6px;
}

header .container #search-box p {
  font-size: 15px;
}

header .container #search-box-active {
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  width: 199px;
  height: 12px;
  padding: 7px;
  color: #c7c7c7;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .container #search-box-active .fa-search {
  font-size: 10px;
  padding-right: 8px;
}

header .container #search-box-active input {
  border: none;
  outline: none;
  width: 9em;
}

header .container #search-box-active input::placeholder {
  font-size: 15px;
}

header .container #search-box-active .fa-times-circle {
  font-size: 15px;
}

header .container .display-none {
  display: none !important;
}

header .container .visible {
  visibility: visible !important;
}

header .container .header-right i {
  font-size: 24px;
  padding-left: 24px;
  -webkit-text-stroke: 1px white;
}

main {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  padding-top: 60px;
}

main h1 {
  margin: 0,auto;
}

main article {
  margin: 0 auto;
  display: flex;
}

main article section {
  width: 614px;
}

main article section .post {
  background-color: white;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  margin-bottom: 60px;
}

main article section .post .article-headder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px;
}

main article section .post .article-headder .article-headder-left {
  display: flex;
  align-items: center;
}

main article section .post .article-headder .article-headder-left img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

main article section .post .article-headder .article-headder-left p {
  padding-left: 5px;
}

main article section .post img {
  max-width: 100%;
  width: 100%;
}

main article section .post .article-main {
  padding: 0 16px;
}

main article section .post .article-main .article-middle .dislike {
  display: flex;
  align-items: center;
}

main article section .post .article-main .article-middle .pink_heart {
  color: #ED4956;
}

main article section .post .article-main .article-middle p {
  padding: 0 5px;
  font-size: 10px;
}

main article section .post .article-main .article-contents {
  display: flex;
}

main article section .post .article-main .article-contents h1 {
  margin: unset;
}

main article section .post .article-main .article-contents p {
  padding: 0 5px;
}

main article aside {
  width: 284px;
  margin-left: 28px;
}

main article aside .aside_top {
  padding: 9px;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: left;
}

main article aside .aside_top img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

main article aside .aside_top p {
  padding-left: 5px;
}

main article aside .aside_bottom {
  padding: 9px;
  background-color: white;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
}

main .profile .profile_header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 935px;
  padding-bottom: 50px;
  border-bottom: solid 1px #dbdbdb;
}

main .profile .profile_header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

main .profile .profile_header h1 {
  padding-left: 50px;
}

main .profile .profile_header .unfollow {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  color: black;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  padding: 3px 10px;
  margin-left: 20px;
}

main .profile .profile_header .follow {
  display: inline-block;
  text-decoration: none;
  background-color: #3897F0;
  color: white;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  padding: 3px 10px;
  margin-left: 20px;
  display: inline-block;
  margin-left: 20px;
}

main .profile .profile_posts {
  display: flex;
}

main .profile .profile_posts .post {
  width: 293px;
  height: 293px;
}

main .profile .profile_posts .post img {
  object-fit: cover;
  width: inherit;
  height: inherit;
}

main .section {
  border: solid 1px #dbdbdb;
}

main .section p {
  background-color: white;
}

main .section .likes_follows {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 50px;
  border-radius: 3px;
  background-color: white;
}

main .section .likes_follows img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

main .section .likes_follows h1 {
  padding-left: 30px;
}

main .section .likes_follows .unfollow {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  color: black;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  padding: 3px 10px;
  margin-left: 20px;
}

main .section .likes_follows .follow {
  display: inline-block;
  text-decoration: none;
  background-color: #3897F0;
  color: white;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  padding: 3px 10px;
  margin-left: 20px;
  display: inline-block;
  margin-left: 20px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 0 100px;
}

.top .left img {
  width: 454px;
  height: 618px;
}

.top .right {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 357px;
  border: solid 1px #dbdbdb;
}

.top .right .top_form {
  display: inline-grid;
}
